.changepassword-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100%;
  background: inherit;
}

.page-header {
  display: flex;
  align-items: center;
  position: relative;
}

.page-header h3 {
  margin: auto;
}

.back-btn {
  position: absolute;
  left: 0;
  cursor: pointer;
}

/* Form Box */
.changepassword-container form {
  background: inherit;
  padding: 50px 45px;
  width: 100%;
  max-width: 420px;
  border-radius: 12px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.08);
}


/* Heading */
.changepassword-container h3 {
  text-align: center;
  margin-bottom: 25px;
  color: #a0a0a0;
}

/* Form Group */
.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 18px;
}

/* Label */
.form-group label {
  font-size: 14px;
  margin-bottom: 6px;
  font-weight: 500;
  color: #555;
}

.form-group {
  position: relative;
}

.eye {
  position: absolute;
  right: 22px;
  top: 35px;
  cursor: pointer;
  color: #5678;
}

/* Input */
.form-group input {
  padding: 10px 12px;
  width: 90%;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 14px;
  color: #555;
  transition: 0.3s;
}

.form-group input:focus {
  border-color: #4a90e2;
  outline: none;
  box-shadow: 0 0 0 2px rgba(74, 144, 226, 0.15);
}

/* Error */
.error {
  color: red;
  font-size: 12px;
  margin-top: 4px;
}

/* Button */
.btn-save {
  width: 90%;
  padding: 11px;
  border: none;
  border-radius: 6px;
  background: #4a90e2;
  color: inherit;
  font-size: 15px;
  font-weight: 500;
  cursor: pointer;
  transition: 0.3s;
}

.btn:hover {
  background: #357abd;
}

/* disabled Button */
.btn:disabled {
  background: inherit;
  cursor: not-allowed;
}

/* Responsive */
@media (max-width: 768px) {

  .changepassword-container {
    display: block;
    /* center remove */
    padding: 1px 8px;
    min-height: auto;
  }

  .changepassword-container form {
    max-width: 100%;
    padding: 0;
    border-radius: 0;
    box-shadow: none;
  }

  .changepassword-container h3 {
    margin-left: 10px;
    text-align: left;
    margin-bottom: 20px;
  }

  .form-group input {
    padding: 12px;
    font-size: 15px;
  }

  .btn-save {
    margin-left: 10px;
    margin-top: 10px;
  }
}