/* Container */
.transactions-container {
  padding: 20px;
  font-family: 'Arial', sans-serif;
  background-color: inherit;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);

  max-height: 100vh;
  overflow-y: auto;
}

/* Title */
.transactions-title {
  margin-left: 34px;
  margin-bottom: 15px;
  font-size: 22px;
  color: inherit;
}

/* Table */
.transactions-container table {
  width: 100%;
  border-collapse: collapse;
}

/* Table cells */
.transactions-container th,
.transactions-container td {
  padding: 12px 15px;
  text-align: center;
  border-bottom: 1px solid #e0e0e0;
}

/* Header */
.transactions-container th {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 14px;
}

/* Hover */
.transactions-container tbody tr:hover {
  background-color: rgba(0, 0, 0, 0.03);
}

/* Status */
.status-success {
  color: #16a34a;
  font-weight: 600;
}

.status-pending {
  color: #f97316;
  font-weight: 600;
}

.status-failed {
  color: #dc2626;
  font-weight: 600;
}

/* Links */
.transactions-container a {
  color: #2563eb;
  text-decoration: none;
  font-weight: 500;
}

.transactions-container a:hover {
  text-decoration: underline;
}

.hamburger-icon {
  display: none;
}


@media (max-width: 768px) {

  .transactions-container {
    /* padding: 12px; */
    box-shadow: none;
    border-radius: 0;
  }

  .transactions-title {
    font-size: 18px;
  }

  .transactions-container table,
  .transactions-container thead,
  .transactions-container tbody,
  .transactions-container th,
  .transactions-container td,
  .transactions-container tr {
    display: block;
    width: 100%;
  }

  .transactions-container thead {
    display: none;
  }

  .transactions-container tbody tr {
    margin-bottom: 12px;
    background: #fff;
    border-radius: 10px;
    padding: 5px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
  }

  .transactions-container td {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 0;
    border: none;
    text-align: left;
  }

  .transactions-container td::before {
    content: attr(data-label);
    font-weight: 600;
    color: #555;
  }
<<<<<<< HEAD
   .hamburger-icon {
        display: block;
    }
=======

  .hamburger-icon {
    display: block;
  }
>>>>>>> 87b273e (feat: implement full-stack chat application architecture including Redux state management, socket integration, Firebase messaging, and modular UI components.)
}

@media (max-width: 480px) {
  .transactions-title {
    font-size: 16px;
  }

  .transactions-container td {
    font-size: 13px;
  }
<<<<<<< HEAD
   .hamburger-icon {
        display: block;
    }
}
=======

  .hamburger-icon {
    display: block;
  }
}
>>>>>>> 87b273e (feat: implement full-stack chat application architecture including Redux state management, socket integration, Firebase messaging, and modular UI components.)
