.image-message-container {
  max-width: 300px;
  width: fit-content;
  height: auto;
  border-radius: 12px;
  overflow: hidden;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.05);
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
  margin-bottom: 5px;
}

.image-message-content {
  width: 100%;
  height: auto;
  max-height: 400px;
  object-fit: cover;
  display: block;
}

/* Responsiveness for mobile */
@media (max-width: 480px) {
  .image-message-container {
    max-width: 200px;
  }
}