* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    width: 100%;
    height: 100%;
    --bg-color: white;
    --text-color: black;
}

[data-theme="dark"] {
    --bg-color: #1e1e1e;
    --text-color: white;
}

body {
    background: var(--bg-color);
    color: var(--text-color);
}